src/conf/xml-resources/web-service-references/Start/wsdl/localhost_9744/DataService/Start.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Start/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Start/" name="Start">
<types>
<xsd:schema>
<xsd:import namespace="http://Start/" schemaLocation="http://localhost:9744/DataService/Start?xsd=1"/>
</xsd:schema>
</types>
<message name="carga_datos_arbol">
<part name="parameters" element="tns:carga_datos_arbol"/>
</message>
<message name="carga_datos_arbolResponse">
<part name="parameters" element="tns:carga_datos_arbolResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="jsonTrans">
<part name="parameters" element="tns:jsonTrans"/>
</message>
<message name="jsonTransResponse">
<part name="parameters" element="tns:jsonTransResponse"/>
</message>
<message name="jsonquery">
<part name="parameters" element="tns:jsonquery"/>
</message>
<message name="jsonqueryResponse">
<part name="parameters" element="tns:jsonqueryResponse"/>
</message>
<message name="jsonqueryMulti">
<part name="parameters" element="tns:jsonqueryMulti"/>
</message>
<message name="jsonqueryMultiResponse">
<part name="parameters" element="tns:jsonqueryMultiResponse"/>
</message>
<message name="jsonreporte">
<part name="parameters" element="tns:jsonreporte"/>
</message>
<message name="jsonreporteResponse">
<part name="parameters" element="tns:jsonreporteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Start">
<operation name="carga_datos_arbol">
<input wsam:Action="http://Start/Start/carga_datos_arbolRequest" message="tns:carga_datos_arbol"/>
<output wsam:Action="http://Start/Start/carga_datos_arbolResponse" message="tns:carga_datos_arbolResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://Start/Start/loginRequest" message="tns:login"/>
<output wsam:Action="http://Start/Start/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="jsonTrans">
<input wsam:Action="http://Start/Start/jsonTransRequest" message="tns:jsonTrans"/>
<output wsam:Action="http://Start/Start/jsonTransResponse" message="tns:jsonTransResponse"/>
</operation>
<operation name="jsonquery">
<input wsam:Action="http://Start/Start/jsonqueryRequest" message="tns:jsonquery"/>
<output wsam:Action="http://Start/Start/jsonqueryResponse" message="tns:jsonqueryResponse"/>
</operation>
<operation name="jsonqueryMulti">
<input wsam:Action="http://Start/Start/jsonqueryMultiRequest" message="tns:jsonqueryMulti"/>
<output wsam:Action="http://Start/Start/jsonqueryMultiResponse" message="tns:jsonqueryMultiResponse"/>
</operation>
<operation name="jsonreporte">
<input wsam:Action="http://Start/Start/jsonreporteRequest" message="tns:jsonreporte"/>
<output wsam:Action="http://Start/Start/jsonreporteResponse" message="tns:jsonreporteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Start/Start/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Start/Start/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="StartPortBinding" type="tns:Start">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="carga_datos_arbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jsonTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jsonquery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jsonqueryMulti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jsonreporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Start">
<port name="StartPort" binding="tns:StartPortBinding">
<soap:address location="http://localhost:9744/DataService/Start"/>
</port>
</service>
</definitions>